<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Index Page</title>

</head>
<body>
    <h1>{{ header_message }}</h1>

    <div>
        <h2>HttpResponse()</h2>
        <a href="{% url 'helloApp:simple_response' %}">helloApp:'simple_response'</a>
        <br>
        <h2>request data examples</h2>
        <h3>The view function associated with "/greet" can acquire data multiple ways:</h3>
        <h3><a href="{% url 'helloApp:greet' %}">helloApp:'greet'</a></h3>
        <ul>
            <li>/greet/ </li>
            <li>/greet/{Name} </li>
        </ul>

        <br>
        <a href="{% url 'helloApp:form' %}">helloApp:'form'</a>
    </div>



</body>
</html>
