{% extends "base.html" %}

{% block content %}
    <h1>list</h1>
    <p> Welcome to the list page!</p>

     <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Director</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.release_date }}</td>
                <td>{{ movie.director }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
