{% extends "base.html" %}

{% block title %}Hello{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h3>Replace <span class="text-primary">World!</span> with a name:</h3>
                <h4 class="pt-2">127.0.0.1:8000/home/<span class="text-danger">name</span></h4>
                <p>or by sending it using a form POST:</p>
                <a class="btn btn-primary" href="{% url 'helloApp:form' %}">Name Form</a>
            </div>

            <div class="col-md-6">
            {% if name %}
                <h1>Hello <span class="text-primary">{{ name }}</span>!</h1>
            {% elif form_submitted %}
                <h1>Hello <span class="text-primary">{{ input_value }}</span></h1>
            {% else %}
                <h1>Hello  <span class="text-primary">World</span>!</h1>
            {% endif %}
            </div>

        </div>
    </div>
    <br>
    <hr>

{% endblock %}
