<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% elif form_submitted %}
        <h1>Hello {{ input_value }}</h1>
    {% else %}
        <h1>Hello World!</h1>
    {% endif %}
    <br>
    <hr>
    <h3>replace world with a name through url</h3>

    <a href="{% url 'index' %}">Back to Home</a>
</body>
</html>

